{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spiritual Website</title>
    <meta charset="UTF-8">
   <meta name="fast2sms" content="cyZR7Febs1b9q00Hai9wo4HH7X5fl9CQ">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spiritual Website</title>
  <!-- your stylesheets and other tags -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>ऱाधाकृष्ण आश्रम गातेगावच्या अध्यात्मीक वेब साइटवर आपले स्वागत आहे</h1>
    <p>हे स्थान अंतर्गत परिवर्तन आणि जागरूक जीवनासाठी समर्पित आहे.</p>
    {% include 'footer.html' %}
</body>
</html>
{% endblock %}
