{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>Programs</title>
</head>
<body>
    {% include 'navbar.html' %}
    {% include 'navbar.html' %}
    <h1>Upcoming Programs</h1>
    <ul>
        <li>Inner Engineering - Aug 10</li>
        <li>Meditation Retreat - Sept 2</li>
        <li>Yogic Cleanse - Oct 14</li>
    </ul>
    {% include 'footer.html' %}
    {% include 'footer.html' %}
</body>
</html>
{% endblock %}
